replicaCount: 4
env:
  SPRING_PROFILES_ACTIVE: "prod"
resources:
  requests:
    cpu: "1"
    memory: 2Gi
  limits:
    cpu: "2"
    memory: 4Gi
ingress:
  enabled: true
  className: "nginx"
  host: "auth.example.com"
  tls:
    enabled: true
secrets:
  existingSecretName: "auth-service-prod-secrets"
hpa:
  enabled: true
  minReplicas: 4
  maxReplicas: 12
  targetCPUUtilizationPercentage: 65
pdb:
  enabled: true
  minAvailable: 2
metrics:
  servicemonitor:
    enabled: true
