replicaCount: 1

env:
  SPRING_PROFILES_ACTIVE: "dev"

resources:
  requests:
    cpu: "100m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

ingress:
  enabled: true
  className: "nginx"
  host: "auth-dev.example.com"
  tls:
    enabled: false

secrets:
  existingSecretName: ""

hpa:
  enabled: false

pdb:
  enabled: false

metrics:
  servicemonitor:
    enabled: false

