# ElectraHub local k3d environment settings.
# Copy to local-k3d.env and edit if needed.

export ELECTRA_DEV_ENV=dev
export ELECTRA_DEV_NAMESPACE=dev
export ELECTRA_DEV_CLUSTER_NAME=electrahub-dev
export ELECTRA_DEV_KUBECONTEXT=k3d-electrahub-dev
export ELECTRA_DEV_ARGO_PROJECT=electrahub-dev
export ELECTRA_DEV_TUNNEL_NAME=electrahub-dev-tunnel

export ELECTRA_PROD_ENV=prod
export ELECTRA_PROD_NAMESPACE=prod
export ELECTRA_PROD_CLUSTER_NAME=electrahub-prod
export ELECTRA_PROD_KUBECONTEXT=k3d-electrahub-prod
export ELECTRA_PROD_ARGO_PROJECT=electrahub-prod
export ELECTRA_PROD_TUNNEL_NAME=electrahub-prod-tunnel

export ELECTRA_ARGO_NAMESPACE=argocd
export ELECTRA_GIT_REPO_URL=https://github.com/amolsurjuse/k8s-platform.git
export ELECTRA_GIT_TARGET_REVISION=develop
export ELECTRA_GIT_PATH=charts/common

export ELECTRA_ROOT_DOMAIN=electrahub.net
export ELECTRA_DEV_BASE_HOST=dev.electrahub.net
export ELECTRA_DEV_API_HOST=api-dev.electrahub.net
export ELECTRA_DEV_ARGO_HOST=argocd-dev.electrahub.net
export ELECTRA_PROD_BASE_HOST=electrahub.net
export ELECTRA_PROD_WWW_HOST=www.electrahub.net
export ELECTRA_PROD_API_HOST=api.electrahub.net
export ELECTRA_PROD_ARGO_HOST=argocd.electrahub.net
