[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
req_extensions = v3_req

[dn]
C = US
ST = NY
L = New York
O = ElectraHub Dev
OU = Engineering
CN = dev.electrahub.com

[v3_req]
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = dev.electrahub.com
DNS.2 = driver-portal-dev.electrahub.com
DNS.3 = ocpp-simulator-dev.electrahub.com
DNS.4 = admin-portal-dev.electrahub.com
DNS.5 = *.electrahub.com
